
body {
  font-family: Arial;
}

h1, h2 {
  text-align: center;
}

.point {
  fill: seagreen;
  stroke: darkgreen;
  stroke-width: 0px;
}

.point:hover {
  fill: limegreen;
}

.bar {
  fill: skyblue;
}

.bar:hover {
  fill: cadetblue;
}

.flex-container {
  display: flex;
  flex-direction: row;
}


#leftColumn {
  width: 60%;
}

#rightColumn {
  width: 40%;
}

.tooltip {
  position: absolute;
  background-color: lightblue;
  border:  solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}
